.toolbar{

}

.toolbar .button-control {
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}

.toolbar .actions-container a:last-child {
  border-radius: 0 !important;
}

.toolbar .button-container .button-control {
  border-radius: 0 !important;
}

.toolbar .button-container:last-child .button-control {
  border-radius: 0 0 2px 2px !important;
}

.toolbar .button-container:first-child .button-control {
  border-radius: 2px 2px 0 0 !important;
}

.toolbar .control-icon {
  font-size: 19px;
  line-height: 24px;
}

.toolbar .control-icon {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.toolbar .icon-marker {
  background-image: url('../img/drawMarker.svg');
}

.toolbar .icon-drawLine {
  background-image: url('../img/drawLine.svg');
}

.toolbar .icon-drawCurve {
  background-image: url('../img/drawCurve.svg');
}

.toolbar .icon-editLine {
  background-image: url('../img/editLine.svg');
}

.toolbar .icon-remove {
  background-image: url('../img/remove.svg');
}

.button-control:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

.active .button-control {
  box-shadow: inset 0 -1px 5px 2px rgba(81, 77, 77, 0.31);
}

.button-control-text-hide {
  display: none;
}

.button-container {
  position: relative;
}


.button-container .actions-container {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  white-space: nowrap;
}

.leaflet-right .toolbar .button-container .actions-container {
  right: 100%;
  left: auto;
}

.button-container.active .actions-container {
  display: block;
}

.button-container .actions-container .action:first-child {
  border-radius: 3px 0px 0px 3px !important;
}

.button-container .actions-container .action:last-child {
  border-right: 0px;
}

.button-container .actions-container .action {
  padding: 0px 10px;
  background-color: #666;
  color: #fff;
  display: inline-block;
  width: auto;
  border-right: 1px solid #eee;
  user-select: none;
}

.button-container .actions-container .action:hover {
  cursor: pointer;
  background-color: #777;
}

.toolbar.activeChild{
  z-index: 801;
}