<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="../static/js/leaflet.curve.js"></script>
    <script src="../static/js/leaflet.spline.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="../static/css/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>

            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>

</head>
<body>
            <div class="folium-map" id="map" ></div>

</body>
<script>
            // js_lands = eval('{{ lands_list_json|safe }}');
            // //console.log(js_lands);
            // js_location_mid = eval('{{ location_mid_json|safe }}');

            var map = L.map(
                "map",
                {
                    center: [39.581396912637935, 116.13201141357422],
                    crs: L.CRS.EPSG3857,
                    zoom: 18,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map);


            var tile_layer_lands = L.tileLayer(
                "http://webrd02.is.autonavi.com/appmaptile?lang=zh_cn\u0026size=1\u0026scale=1\u0026style=7\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "default", "detectRetina": false, "maxNativeZoom": 26, "maxZoom": 24, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);


            var poly_line_lands = L.polyline(
                js_lands,
                {
                    "bubblingMouseEvents": true,
                    "color": "orange",
                    "dashArray": null,
                    "dashOffset": null,
                    "fill": false,
                    "fillColor": "orange",
                    "fillOpacity": 0.2,
                    "fillRule": "evenodd",
                    "lineCap": "round",
                    "lineJoin": "round",
                    "noClip": false,
                    "opacity": 0.8,
                    "smoothFactor": 1.0,
                    "stroke": true,
                    "weight": 3
                }
            ).addTo(map);

            // var myIcon = L.icon({
            //     iconUrl: 'static/icon_huaji.png',
            //     iconSize: [30, 30]
            // });

            //[39.263489572, 116.43962987427],
            // var marker_my = L.marker(
            //     [39.53185896666667, 116.289751905],
            //     {icon: myIcon}
            // ).addTo(map);


          //   var path = L.curve(['M',[39.53100408,116.2909406],
					// 'C',[39.53096943,116.2909319],
					// 	[39.53094002,116.2909067],
					// 	[39.53092035,116.2908689],
					// 'V',[39.53091346],
					// //'L',[39.53091329,116.2907861],
					// 	],
					// 	//[39.53091978,116.2907413],'Z'],
					// {color:'red',fill:true}).addTo(map);

            var path2 = L.spline([[39.581396912637935, 116.13201141357422],
            [39.626868974000274, 116.24084472656251],
            [39.6107456716115, 116.35620117187501],
            [39.52319146034901, 116.37577056884767],
            [39.48797993746985, 116.23775482177736],
            [39.39824963706614, 116.18316650390626],
            [39.38021664686007, 116.41456604003908]],
                {color:'green',fill:true}).addTo(map);

</script>