<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="../static/css/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>

            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>

</head>
<body>
            <label>
                <input name="qqq" type="radio" value="point" id="tourpoint" checked/>点
            </label>

            <label>
                <input name="qqq" type="radio" value="line" id="linepatrol" checked />线
            </label>
            <div class="folium-map" id="map" ></div>


</body>
<script>
    //import L from 'leaflet';
            var map = L.map(
                "map",
                {
                    center: [39.53185896666667, 116.289751905],
                    crs: L.CRS.EPSG3857,
                    zoom: 18,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map);


            var tile_layer = L.tileLayer(
                "http://webrd02.is.autonavi.com/appmaptile?lang=zh_cn\u0026size=1\u0026scale=1\u0026style=7\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "default", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);


            var markers = [];
            var num = 0;
            var myIcon = L.icon({
                iconUrl: '../static/icon_huaji.png',
                iconSize: [30, 30]
            });
            // 标记绘画
            function DrawPoint() {
                map.on('click', function (e) {
                    let lat = e.latlng.lat;
                    let lng = e.latlng.lng;
                    let marker = L.marker([lat, lng], {
                        draggable: true // 允许点位拖拽
                    }).addTo(map);
                    //拖拽结束
                    marker.on('dragend', function (event) {
                        console.log('实时坐标：' + marker.getLatLng());
                    })
                });
            }
            //线绘画
            function DrawLine() {
                let points = []; // 定义一个空数组
                let lines = new L.polyline(points); //给数组点位信息添加到地图上绘制折线叠加层的类中
                let tempLines = new L.polyline([]); // 多点绘制的折线
                map.on('click', onClick); //绑定单击事件
                map.on('dblclick', onDoubleClick); //绑定双击事件

                // 鼠标单击事件
                function onClick(e) {
                    markers[num] = L.marker(
                        [e.latlng.lat, e.latlng.lng],
                        {
                            icon: myIcon,
                            draggable: true
                        }
                    ).addTo(map);

                    //points.push([e.latlng.lat, e.latlng.lng]); //把用户操作的经纬度添加到定义的空数组中
                    points.push(markers[num].getLatLng());
                    lines.addLatLng(markers[num].getLatLng()); // 给数据添加到折线中。
                    map.addLayer(lines);//给数组信息添加到图层中
                    map.addLayer(L.polyline(markers[num].getLatLng())); //把折线添加到数组中
                    map.on('mousemove', onMove); // 绑定鼠标移动事件(单击后可以观察到线条)
                    // 实时打印出来点位信息
                    console.log(markers[num].getLatLng());
                    num++;
                }


                // 移动过程中可视化线条
                function onMove(e) {
                    if (points.length > 0) {
                        ls = [points[points.length - 1],
                            [e.latlng.lat, e.latlng.lng]
                        ];
                    tempLines.setLatLngs(ls);
                    map.addLayer(tempLines)
                    }
                }

                //鼠标双击事件
                function onDoubleClick(e) {
                    L.polyline(points).addTo(map); //把最后绘制完成的折线添加到图层
                    points = [];// 清空数组信息(准备下一次绘制)
                    lines = new L.polyline(points); // 从新定义绘制折线叠加层的点位信息
                    map.off('mousemove'); // 双击完成后移除鼠标移动事件
                    console.log('结束点' + e.latlng.lat, e.latlng.lng);
                }
            }
            //动态标记
            $("#tourpoint").click(function () {
                // 在点击标记事件之前清空上一次的点击事件
                map.off('click');
                DrawPoint();
              });
            //动态绘制线
            $("#linepatrol").click(function () {
            // 在点击标记事件之前清空上一次的点击事件
                map.off('click');
                DrawLine();
            });
</script>