<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="../static/css/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>

            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>

</head>
<body>

            <div class="folium-map" id="map" ></div>

</body>
<script>
            var map = L.map(
                "map",
                {
                    center: [39.53185896666667, 116.289751905],
                    crs: L.CRS.EPSG3857,
                    zoom: 18,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map);


            var tile_layer = L.tileLayer(
                "http://webrd02.is.autonavi.com/appmaptile?lang=zh_cn\u0026size=1\u0026scale=1\u0026style=7\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "default", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
            var markers = [];
            var points = [];
            var lines = new L.polyline([]);
            var num = 0;
            var tempLines = new L.polygon([]);
            map.on('click', onClick);
            map.on('dblclick', onDoubleClick);
            map.on('mousemove', onMove);



             var myIcon = L.icon({
                iconUrl: '../static/img/red.png',
                iconSize: [10, 10]
            });

      function onClick(e) {
          points.push([e.latlng.lat, e.latlng.lng])
          lines.addLatLng(e.latlng);
          lines.options.name = 'polygon';
          map.addLayer(lines);

          markers[num] = L.marker(
              [e.latlng.lat, e.latlng.lng],
              {
                  icon: myIcon,
                  draggable: true
              }
          ).addTo(map)
          num++;
      }

      function onMove(e) {
        if (points.length > 0) {
          ls = [ points[points.length - 1], [e.latlng.lat, e.latlng.lng] ];
          tempLines.setLatLngs(ls);
          tempLines.options.name = 'polygon';
          map.addLayer(tempLines);
        }
      }

      function onDoubleClick(e) {
          L.polygon(
              [points],
              {name:'polygon'}
          ).addTo(map);
          points = [];
          lines = new L.polyline([]);
          //map.off('click', onClick())
      }
</script>